[2019-08-12 15:41] agonbina opened #9 "--delete-all deletes non NPM data"
It deleted all the content that I had in my desktop (images, videos, etc) and screwed up a lot of my tooling.

I do not know where the bug is but I can with certainty tell you that it does not delete only node_modules and npm packages.

I only have to blame myself for trusting such a flag in the first place, but it may be nice to add a warning sign that this is performing a hard delete on whatever

[2019-08-12 17:18] zaldih commented on #9
First of all, I deeply regret what happened.
Please, could you provide me with all the possible information?
- Program version (npkill -v)
- OS
- The steps prior to the event
- If possible, the route from which you ran npkill
- Remember if during the event, all the directories in the list were shown?

Before launching the first version to the public, we did thousands of tests to test that none of

[2019-08-13 10:35] duongdev commented on #9
Yes, all of my projects are gone. Just installed latest version (npkill@0.2.4). Ran `npmkill -D` on home directory.

[2019-08-13 10:47] duongdev commented on #9
It deleted not only my projects but everything under my home. The `Projects/targeek` still there because I was running a web server there while running `npmkill -D`.

![image](https://user-images.githubusercontent.com/9253690/62935823-51958700-bdf2-11e9-9772-c45c967c5185.png)

[2019-08-13 16:15] NyaGarcia commented on #9
First of all, we'd like to thank you for opening and participating in this issue.

We have not been able to find any evidence of npkill deleting any files apart from node_modules, nor have we been able to replicate this behaviour (not for lack of trying.)

What we have realised, after hours of testing, is that some applications, such as Visual Studio Code, Discord, Postman etc. have their own node

[2019-08-14 05:37] Dhaval4241 opened #10 "It stuck when i use it from global directory"
**Describe the bug**
It stuck when i use it from global directory.
enviroment:
Ubuntu 19.0.4

**To Reproduce**
Steps to reproduce the behavior:
1.Open terminal directly.
2. Now type npkill and wait a for search process.
3. Now you see terminal tab was stuck.

 - OS: [e.g. Window]
 - Ubuntu 19.0.4

[2019-08-14 06:00] #10 closed

[2019-08-14 22:09] FedericoMameliPrjs opened #11 "Error on start"
**Describe the bug**
when trying to execute the command npkill from any folder returns an error.
throw errnoException(err, 'spawn');

**Expected behavior**
Should allow me to select node_modules folders and delete

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/37149443/63059813-b2a38480-bef0-11e9-845b-63cfaee82c9a.pn

[2019-08-14 22:40] NyaGarcia commented on #11
Oh no! Will look in to it and provide a solution as soon as possible. Sorry for the inconvenience :(

[2019-08-14 23:58] NyaGarcia commented on #11
I executed the basic npkill command without any parameters from my user on Windows 7 (64-Bit). To try out a different scenario, I also executed the command with parameters (npkill -f -c magenta). Here are both results:

![npkill](https://user-images.githubusercontent.com/37065748/63064020-880cf800-beff-11e9-9853-dbf190aa2242.gif)

As you can see, npkill was executed without any errors on both occa

[2019-08-15 04:36] FedericoMameliPrjs commented on #11
I download the latest version, I think.I'll try to reinstall node and see if it solves.Thanks!

Inviato da Yahoo Mail su Android

  Il gio, 15 ago, 2019 alle 1:58, Nya<notifications@github.com> ha scritto:
I executed the basic npkill command without any parameters from my user on Windows 7 (64-Bit). To try out a different scenario, I also executed the command with parameters (npkill -f -c magenta)

[2019-08-15 08:43] deadcoder0904 opened #12 "Convert MB to GB"
1335 MB is not that helpful. GB conversion is more helpful I think since people are more used to GB if it exceeds over 1023 MB :)

[2019-08-15 12:07] Caballerog commented on #12
It would be great!

[2019-08-15 12:07] zaldih commented on #12
Hi there! Thanks for opening the issue.
At the beginning we decided to show the sizes in the same unit so that it would be easy to compare them, since rarely a single node_modules would weigh more than 1023 mb.

But I think, as you say, it is a good idea that in the total space (releasable space and space saved) are those shown in GB.

A greeting!

[2019-08-15 12:57] deadcoder0904 commented on #12
I think it would be great even for single `node_modules` because if you have big projects like https://github.com/devhubapp/devhub then it exceeds over 1023MB easily :)

[2019-08-15 15:38] phoenecke opened #13 "Yarn cache caused impossible total size"
On MacOS, I ran it in my home directory and it said 600 GB.  My laptop only has a 512 GB SSD.
 There were many `node_modules` folders in my Yarn cache.

After running `yarn cache clean`, npkill said ~2 GB.

[2019-08-15 16:06] zaldih commented on #13
omg it seems that npkill found a quantum link!

Thank you for opening this issue. We will investigate the origin of this calculation failure (I suspect that it may be a problem of rounding figures as there are so many directories).

- Do you know how much space the cache really occupied?
- Those ~ 2GB that shows npkill correspond to the actual size or is it also wrong?

[2019-08-15 16:16] phoenecke commented on #13
The 2 GB seems correct and it finds the same amount each time I run it.

Another thing I forgot to mention is that I ran it twice before doing `yarn cache clean` and it gave different results.  The first time, it was about 570 gb and the second time it was over 600.

Unfortunately I did not check the real size of the Yarn cache before cleaning it.

[2019-08-15 16:57] goldbuick opened #14 "Highlight entire row including the size"
Can the entire row be highlighted so it is easier to read how much space that particular row takes up.

[2019-08-15 17:33] zaldih commented on #14
Good idea! It could be a very interesting option especially for users who run the program with a wide terminal.

### Public survey.
 **Which mode can be more comfortable and enjoyable? A or B?** _(It's not yet developed, it's just a recreation)_

![row highlight modes](https://user-images.githubusercontent.com/16844185/63113534-05357d00-bf93-11e9-8269-cd122e6e3dcb.png)

[2019-08-15 17:34] Caballerog commented on #14
Option A

On Thu, Aug 15, 2019, 7:33 PM Juan Torres <notifications@github.com> wrote:

[2019-08-15 18:05] mikeerickson commented on #12
How about showing both

  nnnn mb / yyyy gb

[2019-08-15 19:29] briandesousa opened #15 "TypeError: this.stdin.setRawMode is not a function"
First of all.. this is a fantastic idea for a tool, thank you!

**Describe the bug**
Installed npkill on my Windows 10 machine and tried running it for the first time but I get this error:
[code]
**To Reproduce**
1. Install npkill@0.3.0 on Windows 10
2. Run npkill
3. See error

**Expected behavior**
npkill CLI interface

**Screenshots**
![image](https://user-images.githubusercontent.com/5022414/63

[2019-08-15 19:50] zaldih commented on #15
Hi Briandesousa.

Thank you for opening this issue and for your comment!

I've been looking for the cause of the error and... it seems to be git bash !

Could you try to launch the command from the cmd?

[2019-08-15 19:52] briandesousa commented on #15
Good idea. Tried and it works as expected on the normal windows command line. If I have some extra time, I'll poke around and see if I can figure out why bash fails. Thanks again!

[2019-08-15 20:11] zaldih commented on #15
Awesome!
I also have no idea why it fails, but I smell that it may be something related to TTY.

Of course you have discovered an important bug since there are many who use git bash in windows (I included, until I started using cmder).

**The solution for now is to use another console interpreter like CMD.**

[2019-08-16 00:46] trueter opened #16 "Sort results by size"
**Is your feature request related to a problem? Please describe.**
I ran npkill on `/`. The result was a terribly long list. I couldn't reach the bottom in reasonable time.

**Describe the solution you'd like**
Either automatically sort results by folder size or offer hotkey to do so

**Describe alternatives you've considered**
%

Very useful tool so far. Cleared 2gb in the first round, but couldn

[2019-08-16 03:53] deadcoder0904 commented on #12
@mikeerickson I think it's a bit overkill. The reason I said GB is because it's more readable. Idk who wants to know both conversions 1GB (1024MB) looks a bit weird to me at least 😂

[2019-08-16 06:43] d4rky-pl commented on #13
Before `yarn cache clean`:

[code]

After `yarn cache clean`:

[code]

The size of yarn cache:

[code]

@zaldih I believe this is indeed because of the rounding issue. Almost all of the folders were reported as having `1 mb`. An excerpt:

[code]

[2019-08-16 10:14] zaldih commented on #13
Yess! Is a problem fo rounding.
I have been able to verify that in windows this does not happen because its service has more precision.

![Captura](https://user-images.githubusercontent.com/16844185/63160266-a5d07f00-c01d-11e9-8cf6-88c3d72da90d.PNG)

However, linux service uses the du command with some parameter that rounds at least 1mb, although a directory only occupies 0.01mb

https://github.co

[2019-08-16 15:06] moltar opened #17 "Starting npkill triggers an HTTP request"
**Describe the bug**

Starting `npkill` triggers an HTTP request.

It seems to check for a new version, perhaps, judging by the error message, after I blocked the request.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a prohibitive firewall
2. Start npkill
3. See request being intercepted by the firewall

**Expected behavior**

I expect npkill not to make any HTTP requests.

I think

[2019-08-16 15:19] mikeerickson commented on #12
@deadcoder0904 just offering a suggestion to appease to both sides

[2019-08-16 17:55] #9 closed

[2019-08-16 18:03] NyaGarcia commented on #16
Great suggestion. We will add a new option to sort by size. Thank you for opening an issue :D

[2019-08-16 18:09] NyaGarcia commented on #17
Hi! The HTTP request that npkill makes is a GET request to a file hosted on a github server (https://npkill.js.org/version.json), as you may see if you take a look at the source code. However, I can understand perfectly that this may seem suspicious at first sight.
We check for new versions by means of an HTTP request because it is the only way we could think of to achieve this. Would you care to

[2019-08-16 18:36] moltar commented on #17
Yeah, I know it's benign. I am just thinking that with all of these recent scares in the NPM world with injections and all. We all should be careful. I have a firewall set to deny all calls to third parties. And it got triggered.

I just don't think tools should be even checking for new versions. There are tools on NPM that can assist you with updates already.

But it's just my opinion.

[2019-08-16 18:51] NyaGarcia commented on #17
I will look into the NPM tools that you mention. To be honest, I wasn't quite happy with our solution, but it was the only way we could think of. Thank you.

[2019-08-16 18:55] moltar commented on #17
I like using this one: https://www.npmjs.com/package/npm-check

It has a flag for checking global package versions:

[code]

It is not automatic though.

[2019-08-16 19:46] NyaGarcia commented on #13
I'll fix it :D

[2019-08-16 21:58] zaldih commented on #12
working at #18

[2019-08-17 05:10] GaurangTandon opened #19 "[Feature request] Exclude directory option"
**Is your feature request related to a problem? Please describe.**

I wish to search through all directories in `~` except a few directories. Those few directories have active projects that I know I am working on and I do not want to run npkill on them.

**Describe the solution you'd like**

Pass a list of exclude directories, something like `npkill --exclude-dir ~/my-projects/*` which should make

[2019-08-17 11:22] zaldih commented on #13
The problem should now be fixed in #18 🎉
In the next update this fix will be included

[2019-08-17 15:24] zaldih commented on #14
Working at #20
In the next update this feature will be included

[2019-08-17 19:15] NyaGarcia commented on #19
Great request :) It is actually one of the features in our TODO list, and will be available shortly. Thanks anyway for your suggestion!

[2019-08-17 21:05] a5l3 opened #21 "Saved 11GB!"
Thanks :)

[2019-08-17 21:05] #21 closed

[2019-08-17 21:17] zaldih commented on #21
I'm happy to read that. Thank you for your comment @a5l3 <3

[2019-08-18 09:57] NyaGarcia commented on #14
Just published a release that includes this feature :)

[2019-08-18 09:57] #14 closed

[2019-08-18 09:58] NyaGarcia commented on #12
Just published a release that includes this feature :)

[2019-08-18 09:58] #12 closed

[2019-08-18 10:01] NyaGarcia commented on #13
Issue should be fixed from version 4.0.0 onwards

[2019-08-18 10:01] #13 closed

[2019-08-18 10:04] NyaGarcia commented on #11
Hi :) Did you manage to solve the problem?

[2019-08-18 10:12] StarpTech opened #22 "Possible performance improvement"
Hi,
funny project and I think I can help you with your `Improve performance even more!` roadmap point.

Use [fd](https://github.com/sharkdp/fd) as an alternative to `find` with cross platform compatibility.

[2019-08-18 12:20] deadcoder0904 commented on #12
Thank you that looks amazing 👌

[2019-08-18 17:52] NyaGarcia commented on #22
Will look into it, thanks for the suggestion :D

[2019-08-18 18:51] FedericoMameliPrjs commented on #11
Hi, I've checked the node version and it is the 10.2 ...
I've tried to run after restarting windows and it still give me the same error...    Il domenica 18 agosto 2019, 12:04:37 CEST, Nya <notifications@github.com> ha scritto:

Hi :) Did you manage to solve the problem?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-08-19 00:48] zaldih commented on #11
I have a hypothesis of what is happening at this point.

Npkill uses an executable binary (exe) to perform searches much faster. I think that your antivirus could have given a false positive during installation and that it would have been deleted.

This could be confirmed as follows:
Go to %appdata%\roaming\ npm\node_modules\npkill\lib/bin
- **Can you see one in that path, a file called _windows-f

[2019-08-19 07:17] run1t opened #24 "I released the same idea few days ago"
Few days ago, I released [nmc](https://github.com/run1t/nmc) on github. It's a go project that aim to provide a simple command line to list all of the `node_modules` in a folder and delete all of them.

Basically it's the same idea that `npkill` with a lot less features 😅

This morning when I saw your project in trending I find it very cool to see exactly what I wanted to do, already done 👍
Good j

[2019-08-19 14:22] moltar commented on #17
Also, maybe just switch to using this: https://github.com/yeoman/update-notifier

It seems to be a more common approach that other CLIs yse.

[2019-08-19 17:16] millette commented on #17
+1 for update-notifier. Users can [choose to opt-out](https://github.com/yeoman/update-notifier#user-settings).

[2019-08-20 05:29] jakehewitt opened #25 "Error: spawn cut EAGAIN"
MacBook Pro (Retina, 13-inch, Early 2015)
OSX 10.14.6 (18G87)
Node 12.8.0
Ran with npx

[code]

Happens everytime

[2019-08-20 09:52] NyaGarcia commented on #25
Hi, we must be missing a try catch somewhere. Will look into it, thank you for letting us know

[2019-08-20 10:05] NyaGarcia commented on #24
First of all, nice job with nmc! :smile:
We'd love to have you collaborating with us, it'd be awesome. We're working on putting together a contributing.md to make collaborating easier, will let you know as soon as its done (hopefully today :yum:) Thank you

[2019-08-20 10:13] zaldih commented on #17
Interesting ... but in the end, it remains an https request.

I see the option of being able to configure that updates are not checked interesting.
We will implement this option in npkill.
Thank you for the suggestion!

[2019-08-20 11:19] NyaGarcia commented on #25
I've been looking into the EAGAIN error. Node.js **child_process.spawn** uses **uv_spawn**, which in turn uses **fork** to create a child process. According to the documentation (https://www.unix.com/man-page/osx/2/fork/):

![image](https://user-images.githubusercontent.com/37065748/63341674-0f1bff00-c34a-11e9-8692-038010a4753f.png)

It seems that Npkill is crashing because you are exceeding the m

[2019-08-21 02:36] zhylmzr opened #26 "The unit confusion"
The display units for this tool are `mb` and `gb`. Usually I think `8mb = 1MB`, `gb` is the same, but I found the `convertBToKb` method in the code, the parameter name is `bytes`, then `b` is `bit` or `byte`?

[2019-08-21 02:46] zhylmzr commented on #26
Because I found that when I searched, the tool showed more than `300gb` of releasable space, but my hard drive only had more than `200GB`. If the displayed unit is `bit`, everything looks fine. But when I try The size of the conversion display compares it to the actual size and finds that the sizes of the two are inconsistent.

![Snipaste_2019-08-21_10-10-11](https://user-images.githubusercontent.

[2019-08-21 08:52] eidyz opened #27 "Select multiple directories"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
It would be cool to select multiple directories and then delete them all at once.

**Describe alternatives you've considered**
...

**Additional context**
...

[2019-08-21 09:03] kvolkovich-sc opened #28 "Releasable space is much more than my SSD size"
Hi.

I run `sudo npkill`.

`releasable space` is `471.05 gb`, but I have only 250 gb on my Mac Mini's SSD drive.

[2019-08-21 09:33] zaldih commented on #27
Hi there!
Sounds great. We would like to implement it for version 1.0.0, when we implement controls with more options.

Thank you for your suggestion!

[2019-08-21 09:41] zaldih commented on #26
Hi!  Thank for opening the issue.

Indeed, convertBToKb should be convertBytesToKb.

I will review all conversions right now.
It seems that this problem is similar to what was in this issue #13 .
Can you tell me the version with `npkill -v`?

[2019-08-21 09:48] zhylmzr commented on #26
@zaldih  The version is `v0.4.2`.

[2019-08-21 09:48] zaldih commented on #28
Hi!
There seems to be an error in unit conversions that we thought was fixed.
Could you verify that you have version 0.4.x? `npkill -v`
And could you tell me if a large number of node_modules results appear?

[2019-08-21 09:55] PierrickGT opened #29 "RangeError [ERR_OUT_OF_RANGE]: The value of "err" is out of range. It must be a negative integer. Received 536870174"
**Describe the bug**
I've used `npkill` for the first time today without any issue during the first couples try.
But now, every time I try to run it, I got this error: `RangeError [ERR_OUT_OF_RANGE]: The value of "err" is out of range. It must be a negative integer. Received 536870174`

**Screenshots**
<img width="1431" alt="Screenshot 2019-08-21 at 11 53 05" src="https://user-images.githubusercon

[2019-08-21 10:06] kvolkovich-sc commented on #28
`npkill -v` => `v0.4.2`

[2019-08-21 10:11] kvolkovich-sc commented on #28
Hm. It's strange. But on the second run it shows `37 gb`.

[2019-08-21 10:17] kvolkovich-sc commented on #28
I also noticed that sometimes units are displayed as `xx gbb` instead of `xx gb`.

Maybe it was an issue with terminal content refreshing and not related to the wrong size calculating.

I use iTerm 2.

[2019-08-21 10:17] zaldih commented on #28
Dafuq.
That is very rare. I imagine that you have executed the command again under the same conditions (?)

[2019-08-21 10:17] kvolkovich-sc commented on #28
Same terminal session.

[2019-08-21 10:21] kvolkovich-sc commented on #28
Looks like now it works ok. The issue was only on the first run.

`find ~/vcs -name "node_modules" | grep -v ".*node_modules.*node_modules.*"` .. `du -sh`shows ~ same results.

[2019-08-21 10:39] zaldih commented on #26
Thank you.
A problem similar to what happened in # 28 and I missed it a lot.
I will investigate the origin of the problem, although I cannot easily replicate it.
Feel free to open PR if you want to change the name of the method oand if you discover a solution.

[2019-08-21 10:56] zaldih commented on #29
Thank you for report this bug.
I have been investigating and it seems to be a node error ... Anyway, I suspect that it is related to the process of checking for updates.

I will investigate the solution to the problem. In the meantime, I will release a patch with a new parameter to avoid this check, which may allow you to launch npkill without problems.

[2019-08-21 13:42] prog666 opened #30 "jk for navigation"
Most terminal apps allow to use `j` and `k` for navigation through the list. I was surprised that it doesn't work here.

[2019-08-21 13:57] zaldih commented on #30
Wow I don't know how we didn't think about it before.
We will include it. **Thank!!**

Anyone would like to take care of this?

[2019-08-21 14:30] zaldih commented on #15
I have added a function to notify when the terminal is not compatible
https://github.com/voidcosmos/npkill/commit/63ebc48c5a247280934c57507a1a6ca0c3b04e07

[2019-08-21 16:16] kinglozzer opened #31 "TypeError: Cannot match against 'undefined' or 'null'"
**Describe the bug**
[code]

 - OS: MacOS
 - Version: v0.4.3

**Additional context**

The scan was still running, the first ~10 items were all items I wanted to delete, so I hit down+space repeatedly without waiting

[2019-08-21 16:17] zaldih commented on #29
Version 0.4.3 is already on the air!
I have included a new parameter. I hope you can use npkill now.
`npkill --no-check-update <your-params>`

Let me know any news :D

[2019-08-21 16:22] zaldih commented on #17
### Version 0.4.3 is already on the air!
We have included a new option that avoids checking any type of parameter
`-nu` or `--no-check-update`

[2019-08-21 16:38] PierrickGT commented on #29
Thank you for the quick fix! It's working perfectly now.

[2019-08-21 16:38] #29 closed

[2019-08-21 20:28] millette commented on #17
@zaldih Thanks for the update. I haven't checked carefully, but I presume you check for updates anytime the cli is called?

That's one reason I was suggesting update-notifier, it only checks once a day (configurable),see <https://www.npmjs.com/package/update-notifier#how>.

[2019-08-22 08:05] FedericoMameliPrjs commented on #11
HI, Ok, maybe the problem is the antivirus, I'll try and I'll give you a feedback. I have another "problem", with Windows 10 this time. It works but when finishes deleting throws an error and exit,so I have to restart the script. 
C:\Users\Scuola\AppData\Roaming\npm\node_modules\npkill\lib\services\windows-files.service.js:18                    throw err;                    ^
Error: ENOENT: no suc

[2019-08-22 12:11] zaldih commented on #11
We are aware of that bug. It usually happens when a directory is deleted and its size has not yet been calculated (shown -- in its size).
Thank!

[2019-08-22 12:25] zaldih commented on #31
Thank you for opening the issue!

It seems that stdin is not behaving as it should on your machine for some reason, but I don't understand the reason.
https://github.com/voidcosmos/npkill/blob/f7cc0918f2247ba6a9cc34fd4e64daf9d7a00e06/src/controller.ts#L367

- The crash happen immediately after pressing key down or after pressing pressing space?
- Does it also happen when you press any other key su

[2019-08-22 14:38] lolobosse opened #34 "Got "spawn cut EMFILE" on Ubuntu 18"
**Describe the bug**
I tried npkill and I got following error after few seconds
**To Reproduce**
Steps to reproduce the behavior:
`$ npkill`

 - OS: Ubuntu 18 LTS
 - Version 0.4.3

**Additional context**
ERROR:
[code]

[2019-08-22 17:27] hhuseyinpay commented on #34
I got the same error on osx 10.14.4

[2019-08-22 21:12] zaldih commented on #17
Hi! Sorry for the delay.

Yes, I understand. There is a simple reason for not using update-notifier, and that is that npkill aspires to be a lightweight module. That is, to have as few dependencies as possible.

About the updating only once a day, we could implement it in the future, it's certainly an interesting option. We do, however, have our hands full with fixing a few bugs that have come up.

[2019-08-22 22:30] zaldih commented on #34
Thank you very much for opening this report!
I recently noticed that sometimes (personally, infrequently), that error is thrown.

Npkill on unix systems invokes 2 commands to determine the size for each of the results found.
The cause seems to be due to an excess of simultaneous reading of files in that process.

I don't have much free time for now to be able to fix this, but here are two temporar

[2019-08-23 09:06] joseconstela opened #35 "npkill exits unexpectedly on Windows 10 before it finishes loading the folders sizes."
**Describe the bug**
npkill exits unexpectedly on Windows 10 before it finishes loading the folders sizes.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Open a powershell
2. Run `npx npkill`
3. Wait while npkill calculates folder sizes
4. Before it finishes caculating the sizes, the process exits unaxpectedly, showing an error

**Expected behavior**
npkill will continue to calculat

[2019-08-23 10:51] zaldih commented on #35
Trying to replicate the error, I have not been able to find that one, but I have discovered others that may be related and I will fix it soon.
Anyway,
Could you go to the indicated file (\ .bin \ uuid) and give me information about it? Does the file have any special permissions? Is it a symbolic link?

Of course, thanks for reporting the error!

[2019-08-23 19:17] zaldih commented on #15
I will close the issue.
Do not hesitate to open it again if you get any news!
Thanks !

[2019-08-23 19:18] #15 closed

[2019-08-23 19:22] zaldih commented on #17
Sincerely thank you for your participation. we appreciate it.
I will close the issue. Do not hesitate to reopen it if you have any news!

[2019-08-23 19:22] #17 closed

[2019-08-24 14:46] #30 closed

[2019-08-24 15:18] #16 closed

[2019-08-25 14:30] zaldih commented on #35
We have released version 0.5.0. Now those kinds of exceptions should be controlled.
Although probably if the file has restrictive permissions, or was a broken link, the size of your entire directory is displayed as "--"

[2019-08-25 14:37] zaldih commented on #34
We have released version 0.5.0 :confetti_ball:
We have controlled many types of exceptions, including the mentioned one.

Could you tell me if you can already use npkill?

I imagine there will be directories that show their space as "--"

[2019-08-25 14:44] zaldih commented on #25
We have released version 0.5.0 :tada:
We have controlled many types of exceptions, among which the aforementioned should be included.

Could you tell me if you can already use npkill?

I imagine that there will be directories whose space is shown as "--", but still be listed and even be able to delete.

[2019-08-25 16:55] hhuseyinpay commented on #34
I guess the search cannot be completed. It stopped the search but search never completed successfully.
![Screen Shot 2019-08-25 at 19 51 37](https://user-images.githubusercontent.com/14811488/63653153-cdd48680-c771-11e9-87ce-36ba35c42403.png)

[2019-08-27 00:59] haykam821 opened #40 "npkill lists home directory"
## Description

`npkill` lists the home directory as a ` node_modules` directory:

![npkill showing home directory](https://user-images.githubusercontent.com/24855774/63732799-e4e3a900-c843-11e9-83b9-73d37249df71.png)

## Reproduction

1. Run `npkill --sort size`.
2. Wait for search to complete.
3. Do other tasks, and return to the process.
4. `/Users/user/.` will appear on the list.

I was able t

[2019-08-27 08:21] kinglozzer commented on #31
I can’t actually reproduce it now, so let’s close this. Thanks!

[2019-08-27 22:52] zaldih commented on #40
Hi there! Thanks for reporting this bug and for the details.
Could you check if this same error happens in previous versions? Trying for example:
`npx npkill@0.4.0` or `npx npkill@0.3.0`

[2019-08-27 23:03] zaldih commented on #34
@hhuseyinpay  thanks for the reply!
Even in that state, can you use it normally or suffer from some kind of malfunction?

In any case, we will investigate further and correct it soon.

[2019-08-28 00:33] zaldih commented on #31
I'm happy to read that. Have a nice day!

[2019-08-29 06:19] lastmjs opened #41 "Add Ethereum address to FUNDING.yml"
I'd like to see an Ethereum address added to the `custom` property of the `FUNDING.yml` file. This would allow a canonical address to send funds to. For example, I'm building a project that allows developers to setup one recurring donation that is split between all of their dependencies with an Ethereum address: https://sustainus.io

[2019-08-29 07:21] yogain123 opened #42 "Cannot destructure `name` of undefined or null on key press"
<img width="990" alt="Screenshot 2019-08-29 at 12 48 11 PM" src="https://user-images.githubusercontent.com/14003377/63919083-a58fa500-ca5b-11e9-9adf-06749b29bbd5.png">

[2019-08-29 11:48] zaldih commented on #41
Thanks for the recommendation. Added in e3fa9acb66f65be45b7da0b9d24a4200b057ab8b

[2019-08-29 11:48] #41 closed

[2019-08-29 11:56] zaldih commented on #42
Thanks for opening the issue!
This problem looks like #31 .

When does the error appear? when you press cursor down or another key?

I can say that it is a mac, right? By any chance you are using an external keyboard?

[2019-08-29 11:59] zaldih commented on #11
I will close the issue.
If you have any news, do not hesitate to comment!

a greeting

[2019-08-29 11:59] #11 closed

[2019-08-29 12:23] yogain123 commented on #42
Hu Zaldih,
The error appeared when I by mistake pressed option+z
The error is coming every time when press option+z
I am not using any external keyboard.
Yes Its mac.

[2019-08-29 12:38] zaldih commented on #42
Thanks for the details!! I think I know where the error is and we will fix it

[2019-08-29 13:35] RubyRubenstahl commented on #27
Came here to say the same thing. Since it's already here, just seconding.

This is a great project... just freed up 6 gigs!

[2019-08-29 15:42] zaldih commented on #42
Fixed on 39fbea4de9cd2c3414a298d02c99b32bb7325964 🎉
It will be included in the next update.

[2019-08-29 15:42] #42 closed

[2019-08-29 16:49] yogain123 commented on #42
Okay . Thanks for letting me know

On Thu, Aug 29, 2019, 9:12 PM Juan Torres <notifications@github.com> wrote:

[2019-09-04 10:16] #35 closed

[2019-09-04 16:07] miguelmota opened #43 "Text is misaligned"
<img width="507" alt="Screen Shot 2019-09-04 at 9 06 11 AM" src="https://user-images.githubusercontent.com/168240/64271996-487c6f00-cef3-11e9-896d-9b8853ecaa09.png">

[2019-09-06 13:22] NyaGarcia commented on #43
Will fix it as soon as possible :)

[2019-09-06 13:38] zaldih commented on #43
We have been aware of this for some time. I think we're going to remove the emoji library.

[2019-09-11 16:12] NyaGarcia commented on #19
This feature is now available in the newly released :fireworks: 0.6.0 version :fireworks:
You can exclude directories by using -E or --exclude options.

[2019-09-11 16:12] #19 closed

[2019-09-11 16:20] zaldih commented on #43
#### Version 0.6.0 is already on the air! 🎉
We have definitely made the decision to erase those "emojis", so there is nothing that overlaps.

[2019-09-11 16:20] #43 closed

[2019-10-22 14:37] willi84 opened #46 "archive node_modules folder to zip or tar.gz"
**Is your feature request related to a problem? Please describe.**
When I clean up node_modules I often want to save the installation for the future or when I am back in the node version, but that are a lot of steps to do.

**Describe the solution you'd like**
Moving the node_modules folder to an archive file, which is small and can be later unpacked.

**Describe alternatives you've considered**
n

[2019-10-23 12:38] ladmerc opened #47 "excludeDirs.flat() is not a function"
**Is your feature request related to a problem? Please describe.**
Using the `exclude` option logs an error `excludeDirs.flat is not a function`. This is because the `.flat` method user [here](https://github.com/voidcosmos/npkill/pull/44/files#diff-03dc3fc6bad605160a87e47ee854b23dR67) [only exists from node 11.0.0](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Ar

[2019-10-23 14:03] zaldih commented on #46
Hello! Thanks for opening this issue :heart:

I liked the idea because node_modules usually have a pretty good compression ratio (339mb -> 30mb zipped, for example).
I also see it feasible as an alternative for anyone who for some reason (perhaps, for a very limited bandwidth) cannot afford to delete them.

It would be interesting to see it in the future  v1.0.0 but for my part, I don't think I ca

[2019-10-23 14:25] Caballerog commented on #46
This feature could be interesting to do using the hacktoberFest for anybody!

Good luck!

----------------------------------------------------------------------------

Dr. Carlos Caballero González PTFP Sistemas y Aplicaciones Informáticas -
Junta de Andalucía Blog: https://www.carloscaballero.io LinkedIn:
http://lnkd.in/xVG3qV Twitter: http://www.twitter.com/carlillo GitHub:
http://www.github.com

[2019-10-23 21:35] zaldih commented on #47
Wow you are absolutely right. We launched very quickly to operate the exclude feature but forget to check compatibility precisely _(big mistake)_.

### Thank you very much for reporting the error!!
Of course, your PR will be more than welcome if you want to do it!

[2019-10-23 21:37] zaldih commented on #25
Closed for inactivity.
If someone has any problem related to this, do not hesitate to relive it.

[2019-10-23 21:37] #25 closed

[2019-10-24 11:07] Caballerog commented on #46
Next week I will try to create a first version of this feature.
When I have it, I expect feedback from the PR.

[2019-10-24 16:10] ladmerc commented on #47
Got it. What would be preferred: updating the docs to specify the node version required, or adding a polyfill for the `.flat` method

[2019-10-24 16:17] zaldih commented on #47
I think the most interesting thing would be to make npkill as compatible as possible for everyone. So a good polyfill would be the right thing to do.

If you need more information don't hesitate to ask

[2019-10-30 21:21] zaldih opened #50 "--help does not print the list of commands out of view"
**Describe the bug**
--help does not print the list of commands out of view

**To Reproduce**
Steps to reproduce the behavior:
1. Open a terminal with a height less than 25 rows (v0.6.0)
2. Type `npkill -h`
3. You can see how the last rows do strange things, and omit the output of commands that do not fit in the terminal.

**Expected behavior**
It is expected to list all available commands as show

[2019-10-31 05:36] tanmayrajani commented on #50
what do you think of using something like [commander.js](https://github.com/tj/commander.js)?

[2019-11-12 21:11] NyaGarcia commented on #50
Hi @tanmayrajani ! First of all, sorry for the delay, life has been hectic :sweat_smile:
Thank you for opening the issue and letting us know, we hadn't realised it did that. About commander.js, we'd prefer keeping npkill as lightweight as possible, so we'll initially try and fix this issue without using any external libraries. Thanks for the suggestion though :blush:

[2019-11-21 17:25] orestes opened #52 "npx npkill fails with "Cannot read property 'path' of undefined""
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a terminal
2. Run `npx npkill`
3. The bottom-left corner displays a message: "Cannot read property 'path' of undefined"

**Expected behavior**
npkill runs normally and displays a list of directories

**Screenshots**
If applicable, add screenshots to help explain your

[2019-12-06 07:52] pawel2105 commented on #19
This feature is not working. I'm on v0.6.0 and each of the following 4 command variants:

[code]

Will still list directories like below:

[code]

[2019-12-06 08:08] pawel2105 opened #53 "[Feature request]: quick scroll"
**Describe the solution you'd like**
Would be awesome to be able to hold shift + cursor arrow to skip 10 or 20 line positions because scrolling through thousands of directories takes a long time.

**Describe alternatives you've considered**
Trying to exclude folders but that doesn't work as mentioned [here](https://github.com/voidcosmos/npkill/issues/19).

[2019-12-06 17:55] dydokamil opened #56 "Metric prefixes"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I see `mb` (millibits) instead of `MB` (megabytes)

**Describe the solution you'd like**
I'd like to change `mb` to `MB` and `gb` to `GB`.

**Describe alternatives you've considered**
I have not considered any alternatives.

**Additional context**
Files to change:
* \_\_tests\_\_/result.service.test.ts
*

[2019-12-06 19:28] rk opened #57 "[Security] prompting for photos, contacts, calendars..."
**Describe the bug**
Running `npkill` resulted in prompts for access to my: contacts, pictures, and calendars. I promptly stopped the process!

**To Reproduce**
Steps to reproduce the behavior:
1. Launch terminal.app or iTerm2 (v3.3.7)
2. `$ npx npkill`
3. See screenshot:
    ![prompt](https://user-images.githubusercontent.com/58199/70350310-1f3de880-182c-11ea-9184-f815b5f83e04.png)

**Expected be

[2019-12-10 10:04] grudus opened #58 "[Feature request] Add loading indicator to 'delete in progress' state"
Hi!
Thanks to your project, I've deleted some heavy node_modules and that's great, but I found a possible improvement:
When you try to delete a large directory, the removing process can take a few seconds, and there is no interaction from the app and it seems like it doesn't respond (I thought Space isn't working and I tried Enter or cmd+enter),

It will be nice to add some kind of text (or progre

[2019-12-11 11:34] JoeEarly opened #59 "MacOS 10.15.1 - The directory cannot be deleted."
**Describe the bug**
On MacOS, I get the following error when attempting to delete files:

 Have tried with sudo and non-sudo accounts

**To Reproduce**
Steps to reproduce the behavior:
1. Run npkill with or without sudo command.
2. Attempt to delete an item from the list displayed
3. See error

**Expected behavior**
Item is deleted with no error

**Screenshots**
<img width="1104" alt="Screenshot

[2019-12-11 17:09] haykam821 opened #60 "Allow moving folders to trash rather than completely deleting them"
Instead of [`rm`-ing the folders](https://github.com/voidcosmos/npkill/blob/071db250f4d10767824c89d44bbcc727a6bdc7f4/src/services/linux-files.service.ts#L31) when a delete is triggered, it would be helpful to have an option that [trashes](https://www.npmjs.com/package/trash) them instead such as `--trash`. This is much safer and reversible.

[2019-12-27 18:52] soriac opened #61 "Program hang when folder is deleted"
**Describe the bug**
When npkill finishes searching it displays 0mb releasable space, despite showing multiple node_modules folders. On folder deletion, the program hangs. After five minutes, I killed the process with task manager and found that it succeeded at deleting the folder, but got stuck anyways.

**To Reproduce**
Steps to reproduce the behavior:
1. Run cmder
2. Run npkill
3. Select a node

[2020-01-16 13:55] zaldih commented on #58
Hello!
**Thank you for your comment, and sorry for the delay.**

Of course it is a very interesting feature that in fact I was able to develop a while back ( #45 ).

But due to lack of time, we have not been able to launch a new version with that feature (and other improvements).

Luckily now we have life again and soon we will launch a new one :)

[2020-01-16 13:55] #58 closed

[2020-01-19 17:13] zaldih commented on #50
Yay! thanks to @Nexxel  this bug has been fixed :tada:  (#62 )

[2020-01-19 17:13] #50 closed

[2020-01-19 17:20] #56 closed

[2020-01-20 14:20] Mudassar045 commented on #61
It's also happening on Ubuntu 18.0.4

[2020-01-31 16:55] geocine opened #63 "Saving stuck on loading state."
I opened an issue on the wrong project 😱

[2020-01-31 17:00] #63 closed

[2020-02-18 21:44] InsOpDe opened #64 "Filter with date"
**Feature Request.**
I would save a lot of time if I could automate the process of filtering and deleting the folders. Then I could automate it with my backup plan, i.e. first delete node_modules of old projects, then borgbackup.

**Describe the solution you'd like**
another parameter which lets you filter (and/or delete) after a given number of days passed since the project has been touched. We c

[2020-02-21 11:38] pke opened #65 "Windows Git Bash Support"
I know its a known bug as per readme, but since there is no issue for it this will be used to keep track of it.

I am not really sure, why the tool claims the Git Bash on Windows has is not a TTY. I am using TTY features all the time ne my own projects. I am using the `prompts` and similar projects for keyboard navigation just fine there.

So I'll investigate what the problem here might be and pro

[2020-02-21 11:44] pke commented on #65
Why are you checking the `stdout` for TTY and not `stdin`? You need that for keyboard navigation, right?
https://github.com/voidcosmos/npkill/blob/master/src/controller.ts#L220

[2020-02-26 20:51] danieldjewell opened #66 "List Navigation - Page Up/Page Down [PgUp/PgDn/Home/End]"
Hi!

Cool project -- was just giving it a shot, kinda amazing how some of the modules folders add up in size...

Was doing what I usually do (I use console programs/interfaces _a lot_) ... and went to hit Page Up/Page Down to navigate ... and then also hit Home/End to navigate. To my surprise, nothing happened!

I had a quick look in the code, looks like there _isn't_ a page up function really. I

[2020-03-16 17:19] arissberg opened #67 "Folder sizes always blank"
**Describe the bug**
1. The folder, releasable space and space saved are always 0 or nothing.
2. The list of folders is blank after search, but appears when you cursor down.

**To Reproduce**
1. create a new zsh shell
2. change to projects directory
3. run `npx npkill`

**Expected behavior**
Expected to see folder sizes and list of folders after search completes

**Screenshots**
 - OS: MacOS 10.14

[2020-03-20 16:02] donavon commented on #67
me too!

[2020-03-24 19:24] sashvoncurtis opened #68 "Polyglot package system kill"
When is gemkill, pubkill, headerkill, pykill coming? :)

[2020-03-29 00:23] addyosmani commented on #67
I was running into this issue too but downgraded to https://github.com/voidcosmos/npkill/releases/tag/v0.6.0 which seems to work fine.

[2020-03-29 10:53] estevanjantsk opened #69 "npm ERR! Cannot find module 'resolve'"
**Describe the bug**
run npx npkill in the terminal with node v12.13.0 npm 6.14.1 throws this error:  ERR! Cannot find module 'resolve'

**To Reproduce**
Steps to reproduce the behavior:
➜  ~ npx npkill
npm ERR! code MODULE_NOT_FOUND
npm ERR! Cannot find module 'resolve'
npm ERR! Require stack:
npm ERR! - /Users/estevanj/.nvm/versions/node/v12.13.0/lib/node_modules/npm/node_modules/normalize-packa

[2020-03-29 23:52] TimNZ opened #70 "No directories found"
**Describe the bug**
No directories found on OS X, regardless of directory
OS X 10.14.6
Node 10.16.0
Tested via yarn global install, and npx

**To Reproduce**
Steps to reproduce the behavior:
Run npkill
No directories found

<img width="852" alt="Screen Shot 2020-03-30 at 12 51 57 PM" src="https://user-images.githubusercontent.com/1051701/77864495-49a52d00-7285-11ea-805b-d08ed6653bad.png">
<img wi

[2020-03-31 15:42] zaldih commented on #68
Hahaha!
We’re actually working on a little something that will allow npkill to take care of the dependencies for all those languages!
Also, @tuqqu (hi!) has created [killposer](https://github.com/tuqqu/killposer) for the PhP ecosystem.

[2020-03-31 15:48] zaldih commented on #66
**Hi!** Thanks for opening this issue and participating in the project.
I do recall this functionality being on our // TODO list, but for some reason we never got around to implementing it (probably because of the ‘small’ amount of extra complexity that calculating the cursor’s new position entails.) We will take this into account though. Hopefully we can have it ready for the next version!
I’ll l

[2020-03-31 15:56] zaldih commented on #64
Hi! Thanks for opening this issue.

Yeah! It’s a great idea. It’s actually a pending TODO (you can see it on the README.) It hasn’t yet been incorporated due to the ‘technical difficulty’ that you yourself mention.

Just as you said, calculating the last modification in the node_modules file isn’t enough, we have to analyse the rest of the project’s files, since this is what will really let us kno

[2020-03-31 15:59] zaldih commented on #60
Nice idea!

Maybe even a key combination with Del to send them there.
The only problem we see is that, as far as we know, the recycling bin is a graphic environment functionality. Therefore, does the recycling bin exist in servers? How would this be managed?

We raise these questions in case anyone reading this has a broader knowledge on the subject.

[2020-03-31 16:21] haykam821 commented on #60
[`trash`](https://github.com/sindresorhus/trash) works already on servers.

[2020-04-02 15:27] sashvoncurtis commented on #68
Awesome !
Dependency management aint easy,  especially for multiple languages, looking forward to future releases!

[2020-04-02 15:27] #68 closed

[2020-04-04 00:37] marcins commented on #70
I tracked down the issue to this line:

https://github.com/voidcosmos/npkill/blob/2d5e0e28a2cee8c202cec360005414f0cc706ca7/src/services/linux-files.service.ts#L15

It looks like this was changed recently in cdab8788ad96442f76ff927803308876845a1abd.

It appears the `-b` option used here does not exist on macOS.  `-b` returns the output in bytes, and displays the "apparent size".  The closest I coul

[2020-04-04 00:46] marcins commented on #67
Possibly related to #70 - though weird that some people get no folder sizes, and some get no folders!

[2020-04-04 10:44] tonivj5 commented on #70
`-b` is a shortcut to `--apparent-size --block-size=1`.

[code]

 I suppose these options are available in macOS, @marcins can you test it if `du -s --apparent-size --block-size=1` returns you a number?

[2020-04-04 11:51] zaldih commented on #70
A few minutes ago I managed to replicate the problem. It seems that the bug was introduced in the jump from version 0.6.x to 0.7.0 as discussed in some other issue and it only seems to affect Mac.

I noticed that when the search is over, if I press down arrow, the hidden directories suddenly appear.
Could you check if this works for you?

I'm investigating the exact cause why that occurs.

[2020-04-04 12:19] zaldih commented on #70
@marcins  **You're right!!!** You have just found the problem!
By removing the -b parameter, everything seems to work as it should.

I am very confused. I also do not understand why on Mac it behaves that way.
We will continue investigating

[2020-04-04 12:30] zaldih commented on #67
It has definitely been a problem introduced in version 0.7.0 that seems to only affect mac for some mysterious reason.

@marcins  has found what seems to be the source of the problem https://github.com/voidcosmos/npkill/issues/70#issuecomment-608909316

[2020-04-04 13:04] marcins commented on #70
@tonivj5 macOS doesn't have the. `--block-size` or `--apparent-size` options in `du`.

The man page says `du` reads a `BLOCKSIZE` env var, but when I try that with `BLOCKSIZE=1` then you get an error that `du: minimum blocksize is 512`.

Since I couldn't find an up-to-date online man page, I copy and pasted the `man du` into a gist (this is for macOS 10.14.6 Mojave - haven't upgraded to Catalina y

[2020-04-04 13:08] marcins commented on #70
@zaldih just removing `-b` will give you the size in blocks though.

As I suggested in my comment - the best cross-platform approach might be to use `-k` to get the output in kilobytes (I assume linux has that!) - you'll lose the `--apparent-size` part though.

Alternatively you might need to detect macOS and just do the `-k` thing on Mac but keep `-b` for Linux.

[2020-04-04 14:02] tonivj5 commented on #70
@marcins thanks for test it :+1:

`--apparent-size` get us the most accurate folder size. This param resolves some bugs with calculation of folder size, because `node_modules` are composed of a lot of small files, and using the block size give us a bigger folder size (maybe even GBs of difference respect its real size).

That's a problem in `du` command itself... Maybe should search another way to

[2020-04-04 14:10] tonivj5 commented on #70
@marcins could you copy paste in a gist the output of `du --help`? The docs of  [`freebsd's du command`](https://www.freebsd.org/cgi/man.cgi?du) shows a `-A` option similar to linux's `--aparent-size`. Maybe the `man` page is out of date...

[2020-04-04 20:33] friederbluemle commented on #70
Thanks all for investigating this issue! :+1:

@marcins - The `du` man page on macOS Catalina (10.15.4) is exactly the same as what you posted in your gist.

For reference, I created two gists with the man page of `du` here:

### GNU coreutils 8.32

https://gist.github.com/friederbluemle/06e34f9401a9b3d90a780f2694df93e4

### macOS 10.15.4 (19E266)

https://gist.github.com/friederbluemle/4fa8abe4d0

[2020-04-04 21:08] tonivj5 commented on #70
Hey, @friederbluemle could you create a gist with the output of `du --help` command? :sweat_smile: To be sure that man pages are up to date with the `du` version installed...

Thanks :+1::+1:

[2020-04-04 21:39] friederbluemle commented on #70
@tonivj5 - Sure!

So for macOS (BSD?) there is no `--help`, all it outputs is this:

[code]

`du --help` for GNU coreutils:

<details>
<summary>(click to expand)</summary>
<p>

[code]

</p>
</details>

[2020-04-04 21:47] tonivj5 commented on #70
:scream: Ok, that was enough :laughing::laughing:

Hmm, I think we should investigate alternatives... :thinking: Or if someone has some idea, it would be awesome

[2020-04-04 22:08] tonivj5 commented on #70
As a possible idea, could use [`dust`](https://github.com/bootandy/dust) and its `-s` param as `du` replacement. It seems [multi-platform](https://github.com/bootandy/dust/releases)

[2020-04-04 22:14] friederbluemle commented on #70
Personally, I am using `dust` and it is amazing, though I don't think we should make it a prerequisite for using `npkill`.
How about simple check of [`process.platform`](https://nodejs.org/api/process.html#process_process_platform) and running the correct command for the specific platform?

[2020-04-04 22:40] tonivj5 commented on #70
The problem with `du` is its lack of options in macOS. With `--aparent-size` we get real size of node_modules.

We could use `-b` in linux and other option in macOS, but it's going to produce other issues (that was the main issue because `-b` was added...). Me neither like to add a new dependency to resolve this.

But, yeah, we should do something :laughing:

[2020-04-05 03:43] friederbluemle commented on #70
Opened a quick PR here with a fix: #74 - Please check 👍

[2020-04-08 20:50] vdurante opened #75 "Issue with pnpm and Windows"
**Describe the bug**
I have installed node modules using [pnpm](https://pnpm.js.org/) and using npkill causes an error

**To Reproduce**
Steps to reproduce the behavior:
1. Run `pnpm install` in any node project
2. Try to use npkill
3. See error

The following error happens on pretty much the whole `.pnpm` folder:

`Error: ENOTEMPTY: directory not empty, rmdir 'C:\Repos\Testing\node_modules\.pnpm\

[2020-04-17 00:05] cycle4passion opened #76 "Extend exclude option to handle timestamps"
Currently

-E, --exclude option accepts directories quotes to exclude. It would be nice to be able to do

-E 30

Which would exclude any N_M dirs with modifications of any enclosed files in the last 30 days. This would be a nice way not to npkill active work.

[2020-06-11 19:41] ranisalt opened #77 "Surprising key bindings"
**Is your feature request related to a problem? Please describe.**
This utility currently uses Space as the key to delete files. It goes against virtually all other file list utilities (e.g. ranger file manager, ncmpcpp MPD client) that use space to tag an item, then another key binding (usually d) to delete tagged items.

It might lead to surprises if an user does not throughly read the instructi

[2020-06-12 02:19] roojay520 opened #78 "[BUG] Wrong scan results"
**Describe the bug**
My MAC only has 500 GB of hard disk 😅
![image](https://user-images.githubusercontent.com/11495164/84457833-386d9900-ac96-11ea-9f7d-6719bb25859d.png)

 - OS: macOS 10.14.6
 - Version: v0.7.1

[2020-06-13 12:24] LosYear commented on #78
I have the same issue

[2020-06-24 10:15] niranjan94 commented on #57
This is not a malware. These dialogs are part of MacOS Catalina's new security features that require approval since when any application tries to access certain directories. Since you ran npkill directly on your home directory, npkill will go through _all_ the folders in your home directory including contacts, photos etc triggering these permission dialogs.

Instead of running on your home directl

[2020-06-24 13:05] rk commented on #57
@niranjan94  I'm pretty sure I ran it on my `~/Sites` folder and got those same prompts. I know that there are no symlinks out to my home directory within that subfolder.

[2020-06-24 14:00] niranjan94 commented on #57
Hmm okay ... Because accidentally had run on my home directory once and got similar prompts ... And when I noticed a similar issue (this) here, thought maybe you might be facing the same issue too 😄

[2020-07-01 17:28] quinncomendant opened #79 "MaxListenersExceededWarning"
**Describe the bug**
When running `npx npkill` from my home directory on macos, this error message displays at the top of the results:

    MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 data listeners added to [Socket]. Use emitter.setMaxListeners() to increase limit

**To Reproduce**
Steps to reproduce the behavior:
1. `cd`
2. `npx npkill`
3. See error

**Expected be

[2020-07-24 23:27] maxdevjs commented on #13
Got this today :)

[2020-07-26 12:25] NyaGarcia commented on #13
@maxdevjs We realized that by merging #74, the bug reappeared. I'm working on a solution [on this branch](https://github.com/voidcosmos/npkill/tree/fix/du). However, my solution would only fix the bug on Linux, not MacOS.

This is because the du parameter that fixes the bug (--apparent-size) has no equivalent in MacOS (as far as I know). I'm researching for a way to fix it in MacOS, but so far I h

[2020-07-27 03:23] maxdevjs commented on #13
@NyaGarcia thank you for the reply.

I quickly checked #74 and the suggested [branch](https://github.com/voidcosmos/npkill/tree/fix/du?rgh-link-date=2020-07-26T12%3A25%3A20Z), I guess the solution you are working on is

https://github.com/voidcosmos/npkill/blob/174ff95b5b1ec56edffae5328113ed5a1c87764a/src/services/linux-files.service.ts#L14

right?

That said, my bad! Just to be clear, I tried it

[2020-08-19 20:50] saisandeepvaddi opened #81 "Deleting actual code files and messing up git when using yarn workspaces."
**Describe the bug**
First of all. Thanks for a cool library.

It turned out a little dangerous to use this when using workspaces.

If the project has yarn workspaces each with its own package.json in subdirectories, npkill is actually deleting package.json files in workspace folders and also some of the js files. If there is no git, I'd have lost all my work.

**To Reproduce**
Steps to reproduce

[2020-09-21 19:21] retrospct commented on #79
I'm having the same issue on macOS: 10.15.6 npkill: 0.7.1 `npx npkill`

[2020-10-11 19:03] adi518 commented on #81
I ran into this as well. It just deletes stuff it should never delete. Extremely dangerous bug. 👎

[2020-10-14 21:30] LegalOwl commented on #40
Hi there,

so far I was unable to reproduce this issue on macOS Catalina 10.15.7 with the last version of npkill (0.7.2). Could you please verify if you can still reproduce this issue in the latest version and if you can produce it all the time or if it just occurs occasionally?

[2020-10-16 01:05] sauloco commented on #79
Same issue with Windows 10 Pro using `npx npkill`

[2020-10-18 12:11] PDavid commented on #40
Hi All,

I was able to reproduce this issue on Ubuntu 20.04 LTS with `npkill v0.7.2`.

![image](https://user-images.githubusercontent.com/1415396/96366819-61bd9a80-114a-11eb-9577-29c66c6e506a.png)

I tried this several times with the latest version and the issue occurs every time.

Also tried but cannot reproduce the issue with `0.3.0` or `0.4.0`,

[2020-10-21 14:36] angel-codes opened #82 "Show Loading/Progress when delete a folder"
**Is your feature request related to a problem? Please describe.**

Once the list of folders is loaded, when pressing "Space" on an item, it seems that the CLI is stuck, seconds/minutes later (depending on the size of the folder) the "DELETE" flag appears at the beginning of the item.

**Describe the solution you'd like**
I don't know if this is already included, but it would be great to add some

[2020-10-26 00:58] wbobeirne opened #83 "Paths show trailing slash if directory is provided with trailing slash"
**Describe the bug**

When you use the `-d` flag to provide a path, if you include a trailing slash, the display of paths will show two slashes. Here's an example where I ran `npm run start -- -d ~/`

![Screen Shot 2020-10-25 at 7 53 32 PM](https://user-images.githubusercontent.com/649992/97123865-c5703680-16fb-11eb-8a7f-e51f4c5619de.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Run `

[2020-10-27 08:52] KonradLinkowski commented on #65
@zaldih what about using `stdin` as @pke  asked?

[2020-11-07 22:28] zaldih commented on #83
Very good observation. Thank you very much for opening the issue and providing the solution :hugs:

[2020-11-07 22:32] #83 closed

[2020-11-07 22:44] zaldih commented on #82
Thanks for opening the issue!  and I regret the delay in answering.

The program should not freeze while deleting the selected directory. In fact, as of 0.7.0 ([v0.7.0 changes](https://github.com/voidcosmos/npkill/releases/tag/v0.7.0)) the "loading" indicator was incorporated (you can see the gif) as you suggest, so **this is effectively a bug**. Good catch.

As soon as I can access a windows mach

[2020-11-11 10:09] liuxin-0101 opened #85 "how to use it?"
Is it necessary to install and use him in the project?

[2020-11-11 12:56] NyaGarcia commented on #81
Wow, that should definitely NOT be happening. I'm really, really sorry if it deleted anything important.

We have a guard clause that checks whether or not the file is safe to delete, so I really have no idea with this is happening. Maybe it's related to this workspaces feature. I've never used it before and don't know how it works, but it might be what is causing the issue. I'll investigate and t

[2020-11-11 13:50] NyaGarcia commented on #85
No, you don't need to install Npkill globally to use it.

All you need to do is run: `npx npkill` inside your project directory (or from anywhere you like, depending on the option that you're using). You can find more information on how to use Npkill in the official website:

https://npkill.js.org/

[2020-11-11 13:50] #85 closed

[2020-11-12 01:36] liuxin-0101 commented on #85
Thank you very much for your reply

[2020-11-12 15:19] NyaGarcia commented on #77
Hi! Sorry for the prolonged wait, haven't had much spare time in a long while :sweat_smile:

We decided to use the Space key because it's such a large, easily accessible key. It's true that it isn't the norm for deleting, but I personally like it and I think that it's easier to use than d, for example. Plus, there are many other tools that have completely random, unique key bindings (look at the V

[2020-11-12 15:19] #77 closed

[2020-11-14 18:30] NyaGarcia commented on #81
Turns out that Yarn workspaces aliases workspace directories as /node_modules/workspace-name via symbolic link, which is what was causing the trouble. Should be fixed in #86.

Here's the result of running Npkill with the latest changes on the https://github.com/saisandeepvaddi/npkill-test repo:

![npkill-yarn-fix](https://user-images.githubusercontent.com/37065748/99154250-9d4a7680-26ae-11eb-99ff-

[2020-11-18 12:47] #81 closed

[2020-11-18 12:47] #82 closed

[2020-11-26 14:24] adi518 commented on #81
Getting an error now (on Windows):
[code]

[2020-12-09 14:06] NyaGarcia commented on #81
Are you by any chance using version 10 of Node.js? Updating to version 12+ should fix the error.

[2020-12-09 14:33] adi518 commented on #81
That could be, yes. I suggest throwing a friendly error if Node.js version is not supported.

[2020-12-09 17:33] NyaGarcia commented on #81
We only just realized that Node.js versions previous to 12 aren't supported. Nice suggestion, we'll implement it asap. It'll serve as a patch until we can add support for previous Node.js versions.

[2020-12-14 18:50] adi518 commented on #81
So I checked and I'm getting this error with Node 12, on Windows 10.

[2021-01-03 20:37] KonradNojman opened #87 "Version 0.7.3 throws an error "Callback must be a function" on delete."
**Describe the bug**
After searching in the directory and finding `node_modules` folders, the `npkill` throws an error

when pressing space on any of the folders.
Tried the version `0.7.0` and problem doesn't occur.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the folder with multiple projects
2. Use `npx npkill` or `npm i -g npkill` and `npkill`
3. Wait for the search to be complet

[2021-01-03 20:59] zaldih commented on #87
Hi!
Thank you very much to open this issue and detail it.

It's definitely a bug introduced apparently in version 0.7.3 and that comes dragged from #81 (to try to fix a critical bug).
It has been caused by a refactoring of the delete method in windows (#86) and we hope to have time to fix it soon.

Just out of curiosity, what version of node do you have?

[2021-01-04 23:46] sisPedro commented on #87
Hey @zaldih, same problem here. node version in my case is v10.13.0

[2021-01-07 18:37] KonradNojman commented on #87
Hey!
Thanks for the response @zaldih 👍
I have Node version 10.15.3

[2021-02-21 19:35] ognjenjevremovic commented on #87
Hey @zaldih, I just found out about `npkill` after searching on how to recursively remove all of the (space heavy) `node_modules` directories from some of the projects I have contributed to recently (as it was taking a good portion of my SSD).
I wanted to give props for this tool and also wanted to contribute back to the project.

Is this issue resolved or it is still open and up for grabs (if no

[2021-02-24 20:28] zaldih commented on #87
Hey @ognjenjevremovic !
First of all, thank you very much for your interest! It's appreciated :)

Currently it looks like no one has gotten around to it, so if you want it, it's all yours. I'm going to tell you all the information I have (so anyone else can discuss options as well).

The problem resides only in this method https://github.com/voidcosmos/npkill/blob/9067388656502c2d281ae9bec780ed565

[2021-02-25 20:01] danielpox commented on #78
Same here. 500 GB SSD but it says I have 990 GB of releasable space!

[2021-02-25 22:00] ognjenjevremovic commented on #87
Thank you for your detailed overview of the issue @zaldih 🙂 .

I would like to give this one a closer look.
Is this issue present only on `Windows` machines or other platforms are affected too? Currently, I do not have access to `Windows` platform myself, but perhaps I can spin an azure pipeline in order to have it tested (if and when i have the fix ready).

I completely understand your concern of

[2021-02-25 22:32] KonradNojman commented on #87
Hi @ognjenjevremovic! Nice to see you are interested in this bug 🚀
If you don't find any way of testing your changes on `Windows` you can ping me. If I have some time, maybe I will be able to checkout your branch and test it out locally.
Not promising anything, because I'm a little swamped with work right now, but I'll try to help you out if needed 🙌  🙂

[2021-02-26 09:07] ognjenjevremovic commented on #87
Cheers @KonradNojman. That sounds wonderful (and it would be a great time saver)! 🚀 🙂
I'll try post an update sometime during next week, when I hope I'll have more info regarding this.

[2021-02-26 12:48] suman-saket commented on #87
In my windows system, when i try to delete node_modules,it  is throwing an error of Callback must be a function.
npkill version-o.7.3

[2021-02-26 20:43] danielpox commented on #78
I found a way to circumvent this! The problem, as also depicted in the screenshot above, is that it for some reason includes the current directory as a whole, and even all parent directories up to the user directory.

To prevent this you can try adding these parameters: `-d .` (in context `npx npkill -d .`), which explicitly tells npkill to look in *this very directory and downwards*. It worked fo

[2021-02-27 17:14] ognjenjevremovic commented on #87
@KonradNojman @suman-saket I just made a PR that addresses this issue https://github.com/voidcosmos/npkill/pull/88.
If you are running `Windows` platform and would like to check the changes before (and if) they make it to a release, you may test the non-release branch locally, by:
 * cloning the repository,
 * checking out `4fbbb83` revision,
 * running `npm i && npm run build` from the cloned rep

[2021-02-28 19:45] KonradNojman commented on #87
Thanks @ognjenjevremovic for the instructions. I'll try to do some tests next week and let you know what are the results or if I have any questions 👍
Do you think it's necessary to test those changes on multiple versions of node? Or only one should be fine? Any specific version/versions you would like it to get tested on? 🙂
Cheers!

[2021-03-01 15:47] ognjenjevremovic commented on #87
I think the one should be fine, although the more the merrier 🙂 .
However, only versions below `12.10.0` are affected with this change (on `Windows` platform).

I tested it on `LTS`, `v15.3.0` and `v10.15.3`. However, on a `POSIX` operating system (with a few tweaks in the code in order to reproduce the issue, as I do not have access to a `win32` platform atm).

I think versions below `v10` can be

[2021-03-07 16:44] KonradNojman commented on #87
Hi @ognjenjevremovic @zaldih !
Sorry for the delay 😅
Finally I had a chance to check out the changes for this issue. Works awesome ✅ 🚀

I've reviewed the PR and accepted it after testing on Windows. Please, @zaldih also check the code as I'm not that familiar with the codebase and I could miss something important. 💪

---
When testing I think I maybe found one or 2 new bugs, so I'll check if they a

[2021-03-07 17:53] ognjenjevremovic commented on #87
Thank you for the feedback and for testing the changes locally (prior to release) ❤️ .

Please do feel free to make a write up of the issue(s) you have found when testing the changes.
We surely don't want to replace one bug with another 😄 .

[2021-03-07 17:54] KonradNojman commented on #87
Ok, after checking those issues I think one of them might be connected with this PR.
When using the local version of the npkill builded using steps above i have a weird jumping effect in the terminal when deleting (see gif)

![npkill_bug](https://user-images.githubusercontent.com/60238331/110249308-df593a00-7f75-11eb-80a9-99ee1fa5e49d.gif)

I don't know if this is because of the local build someho

[2021-03-07 18:20] KonradNojman opened #89 "Units mismatch between folder size and releasable space/space saved"
**Describe the bug**
There is a mismatch of Units between sizes of the node modules and `releasable space`/`space saved`.
The UX problem occurs when I have smaller node modules < 100MB. After deletion the `saved space` doesn't update and might seem as something wrong. The same units would help with it.

**Expected behavior**
By default when not using `-gb` argument I would expect both `folder size

[2021-03-08 15:26] zaldih commented on #87
Hi guys!

Sorry for the delay. I have access to my machines again. I'm going to check everything :)

Thanks so much @ognjenjevremovic  for all the details and for the PR, and @KonradNojman being able to test it and give so much feedback.
I'm going to check everything and hopefully I'll be able to launch these changes in a while!

[2021-03-08 21:47] zaldih commented on #87
Hey @KonradNojman ! Good point regarding the flicker bug. I have found the cause: now the delete method in windows is synchronous, so the UI will 'freeze' while performing the delete job. Then, when the process finishes, it updates the status to "deleting..." and a few ms later, it changes to "deleted".

I've added a small commit to fix this and refresh the screen before starting the process.

[2021-03-09 08:43] KonradNojman commented on #87
Awesome 🚀
I hope I have some time today after work to quickly test your commit and let you know if that did the trick.

[2021-03-09 13:03] ognjenjevremovic commented on #87
Hey @KonradNojman, I apologize for I have totally missed your report on the flickering issue.
Thank you for posting the update and reporting the issue! 🙂
Yeah it seems to me that it have been introduced in this PR (thanks to @zaldih for finding the cause of it).

Thank you @zaldih for going through the PR and for finding the solution to these flickers 🙂 . Great job!
You were really fast on debuggi

[2021-03-09 18:34] zaldih commented on #87
@ognjenjevremovic Don't worry! in fact it's a silly mistake **I made** when designing the rendering flow that I already suspected a long time ago that in windows was going strange.

[2021-03-11 22:55] #87 closed

[2021-03-12 16:13] ognjenjevremovic opened #90 "[Bug] `win32` platform, UI flickering when removing `node_module` directory/ies"
**Describe the bug**
Deleting the `node_modules` directory on the `win32` platform causes flickering on the UI.

_Originally discovered by @KonradNojman in https://github.com/voidcosmos/npkill/issues/87#issuecomment-792323515_

It might be related to the delete method in `win32` being synchronous since #88:

as described by @zaldih.

For more info, please refer to https://github.com/voidcosmos/npk

[2021-03-13 22:36] KonradNojman commented on #90
Hi @ognjenjevremovic !
Thanks for filling out the bug ticket 🚀  Was gonna do it soon, but you were faster 😎

⚠️ **There is an important update for this ticket:**
Looks like this flickering behavior only occurs on the local build of the `npkill`.
When I used the newest version `0.7.4` (`npx npkill`) that was deployed to NPM the problem doesn't occur 🤷 The flickering problem wasn't visible when I us

[2021-03-18 16:40] ognjenjevremovic commented on #90
Thanks for the feedback @KonradNojman.
I was a little late posting my reply, apologize, but I am able to confirm that this is indeed the case as you wrote (UI flickers not being present when installing a package from a registry).

I'd like to point out that I got access to a `win32` platform and was able to test it myself, however take this with a grain of salt, as I'm using *VM* with `win32` so t

[2021-03-30 19:09] Devnol opened #91 "[Bug] running in ~/ in macOS takes ~/ itself as option and shows the entire disk usage of the folder"
**Describe the bug**
Running npkill in macOS from the home directory provides the home directory itself as an option to delete which is potentially dangerous

**To Reproduce**
Steps to reproduce the behavior:
1. `cd` to `~/` (`/Users/username`)
2. run `npx npkill` (use `-s size` to make it show up top)
3. Wait a bit for the scan to progress
4. See the releasable space be insanely massive and be gi

[2021-03-30 19:12] ExtremTechniker opened #92 "Add Dark Mode Switch to https://npkill.js.org/"
Please add a dark mode switch to your webpage [https://npkill.js.org](https://npkill.js.org/)

Thank you.

[2021-04-03 13:45] #70 closed

[2021-04-03 13:46] #67 closed

[2021-04-03 13:53] zaldih commented on #61
This bug should have been fixed with the versions released since then (thanks to the reporting of this problem and others, much of the windows deletion code was rewritten), so I'm going to close the issue.
If anyone has this same problem, please feel free to reopen :)

[2021-04-03 13:53] #61 closed

[2021-04-03 14:07] zaldih commented on #91
Duplicate of #40

[2021-04-03 14:07] #91 closed

[2021-04-03 15:42] zaldih commented on #78
Hey @danielpox  good discovery!!!
It seems that all the problems some users have related to the spacing issue is caused by that (but you couldn't tell unless you used the --sort size parameter to make it clearly visible).

This same issue is open here #40 , so I'll close this one to focus the discussion there.

[2021-04-03 15:44] zaldih commented on #26
As this issue seems to be resolved, I will close it.

[2021-04-03 15:44] #26 closed

[2021-04-03 15:54] zaldih commented on #28
**I think this problem is related to #40**

[2021-04-03 16:21] zaldih commented on #40
Parece I think we can say that all npkill problems related to miscalculated 'releasable space' are related to this problem rather than others, since the calculation of the 'releasable space' is added (maybe even several times) to the parent directory.

***
However, this behavior does **not become dangerous** since very early versions of the package added very advanced security layers to prevent pr

[2021-04-03 16:45] zaldih commented on #40
### EUREKA!!!
**CHUNKS, chunks are the problem!**

In unix, files are searched using 'find'. This command is launched using the `child_process` node module, `spawn`.

I have found that **spawn** outputs the results in character chunks, and it seems obvious that this does not respect line breaks.

That is, if there are many, many results at once (which you would expect if you scan from the user dir

[2021-04-05 18:25] xinthose opened #94 "Fireship IO brought me here"
https://youtu.be/qOSH2pYg6m8

[2021-04-05 18:25] #94 closed

[2021-04-08 12:00] zaldih commented on #90
Hey!
I have been able to do some more testing (on a win10 virtual machine) and in my case, I have noticed that in the CMD everything works as it should, but instead the interface seems to do weird things with vscode's Integrated Terminal (blinks, incomplete refreshments...).

@Koran have you been able to check if this problem also happens for example in CMD?

[2021-04-08 13:22] ognjenjevremovic commented on #90
cc @KonradNojman
I assume the tag accidentally went to a wrong user, due to autocomplete 🙂 .

I didn't test this tbh on the VM; since I don't use `win32`, the only terminal I checked was `powershell` (as it comes packed with win10). I didn't notice the blinking.
cc @zaldih

[2021-04-12 10:11] ArthurKa commented on #92
Such a very convenient markdown link.

[2021-04-12 10:14] ExtremTechniker commented on #92
Sorry. I forget to insert it as link, and not as `code`

[2021-04-12 10:21] ArthurKa commented on #92
That's OK. No problem.

[2021-04-12 16:32] zaldih commented on #92
Hey!
It is certainly a simple and interesting proposal. Definitely like it.
If someone is encouraged to implement it go ahead! And if not, I'll do it as soon as I can get some time :)

[2021-04-13 20:03] ArthurKa commented on #92
@zaldih, so where is https://npkill.js.org repo?

[2021-04-13 20:06] ExtremTechniker commented on #92
I think it is the `gh-pages` branch

[2021-04-13 20:12] zaldih commented on #92
@ArthurKa yeah! In gh-pages branch :)
Let me know if you want me to assign you the issue :)

[2021-04-14 00:14] ArthurKa commented on #92
Yeah, sure :)

[2021-04-15 17:54] ArthurKa commented on #92
@zaldih, so when will it be reviewed?

[2021-04-16 13:42] zaldih commented on #92
Welcome **DARK MODE!**
I don't know how the web didn't have that before. It looks awesome!
Thanks @ArthurKa  for the effort and @ExtremTechniker  for proposing it.

The change has been merged and published to the world.

[2021-04-16 13:44] #28 closed

[2021-04-16 13:45] #40 closed

[2021-04-16 13:45] #78 closed

[2021-04-16 15:17] ArthurKa commented on #92
;)

[2021-04-16 16:24] #92 closed

[2021-04-21 10:50] MentalGear opened #100 "Scroll by Page"
**Is your feature request related to a problem? Please describe.**
It can take a long time scrolling the console list item by item when going over folders like /yarn, etc. Having shortcuts that would forward whole "pages" (e.g. one page of items visible on the console), would increase UX much.

**Describe the solution you'd like**
The H and L keys (next to j and k) could be used to scroll between

[2021-04-30 18:26] vazenfino opened #101 "Unknown error on delete (unlink) in windows"
**Describe the bug**
UNKNOWN: unknown error, lstat using npkill

**Screenshots**
![image](https://user-images.githubusercontent.com/51793206/116737917-6abfdc00-a9b7-11eb-9c15-cc505900b8d3.png)

 - OS: windows
 - Version [ npkill -v0.8.0 ]

[2021-07-03 21:06] muescha commented on #19
@pawel2105 you can only use a folder name, in your case the `"Yarn"`

[2021-07-03 21:10] muescha opened #103 "Allow full path in exclude"
**Is your feature request related to a problem? Please describe.**
i like to exclude some paths, but when i use a generic name like "Library" then it can also exclude it from unwanted leves

**Describe the solution you'd like**
allow a full path or an regex in the exclude `npx npkill --exclude "/Users/muescha/.pnp-store,/Users/muescha/Library"`

**Describe alternatives you've considered**
`npx npk

[2021-07-03 21:18] muescha opened #104 "Collapsed View: show folder with many subprojects collapsed"
**Is your feature request related to a problem? Please describe.**
the search gives me very big list where i have to scroll through.

**Describe the solution you'd like**

for example instead of listing each folder in `~/Library/Caches/Yarn/v6/*` there should be one an

[code]

- when i hit SPACE on a directory then all are deleted (maybe with a warning to look into the list
- i can hit Cursor rig

[2021-07-03 21:19] muescha opened #105 "i like to exclude all "." directories"
**Is your feature request related to a problem? Please describe.**
i have a big list of node_modules in some "." directories (for example in `.pnpm-store`)

**Describe the solution you'd like**
i like to have an option to exclude the dot folders like `--exclude-hidden-directories`

**Describe alternatives you've considered**

**Additional context**

[2021-08-20 14:44] nani554 opened #106 "Throwing Error When Deleting a specific node_module"
On trying to delete a specific node_module im getting **[Error]** and **fs_1.rm is not a function** issue

Steps to reproduce the behavior:
1. Go to a specific drive lets say D:\node_apps
2. Open command prompt from this path
2. Execute Command 'npx npkill'
3. Press space on specific node_module
4. Getting Below errors

Please refer below images:
![image](https://user-images.githubusercontent.com/

[2021-09-04 19:03] boehs opened #111 "Idea: Option to convert node_modules folders to PNPM folders"
Way more space efficient, while not breaking programs ❤️

[2021-10-16 17:06] Fleker commented on #60
Okay I think after reviewing [a developer help guide](https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c) and [an open ts-node issue](https://github.com/TypeStrong/ts-node/issues/1007) I'm on the right track. It does require some refactoring in this project, but I hope to have a PR ready soon.

[2021-11-03 08:32] tomatobybike opened #116 "Cannot read properties of undefined (reading 'path')"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to react project dir
2. Command 'npkill'
3. type space
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

 - OS: [MacbookPro]
 - Version [v0.8

[2021-12-16 16:04] mokone91 opened #117 "Kill package-lock.json"
Thanks for this wonderful tool!

is it possible to add the ability to remove package-lock.json files too?
Thanks!

[2021-12-18 11:02] hd321kbps commented on #117
Convenient addition. Can be used via flag

[2022-01-07 03:05] xMGZx opened #118 "node_modulesdules (existing text isn't cleared in the console when writing to a line again)"
**Describe the bug**
"node_modulesdules" as caused by overwriting existing text without clearing the line fully.

**To Reproduce**
Steps to reproduce the behavior:
1. Eat a banana
2. Run npx npkill on a specific machine
3. Delete a folder

**Expected behavior**
"node_modules" not "node_modulesdules"

**Screenshots**
![image](https://user-images.githubusercontent.com/40220050/148484811-9ed04f1a-aec

[2022-01-09 01:17] DumbGameMaker opened #119 "ţ̯̬͙͙̹̙͎͛͐͂̀̅̀͠͡e̸ͫͦ̾̍ͥ̈ͨͮ̀̒̍̋͗̑̓͂̈ͦ ҉̖͕̙̳͍͔̫͓̮͕̙̻͙̗̻͠͠͞s͕͖͈͔̤̬̎̈͐̉ͫ̐ͦ̐ͧ͘͜͟͡t͛ͦͬͮͬ͑̉ͨ̉̀͛̽͗͐ͣ̆ͭ̃͐i̸̶͖͚͖̍̑ͬͤ̓̀̎̑͛̾̍ͩͨ͠ń̹̠̣͈̥͐͗ͫ̑̆ͥͤ̃ͨ́͜͡ͅg̵̲̀̒̋͐ͤ̅̀ͪ̒ͥ̓̃̉̃̀́̚ ̷̛͙̞͚̓ͥͦ̏̇ͫ̂ͭͤ̒ͩ̈̕͠tͨ̊̓͐̐͌͛ͤͭͭͪ̈̓̏̾ ҉̨͙̺̪̙̦̤̣͖́͞͠e͗̈̓̇̽̉̓̾ͨ͌͋̏ͦ̐ͫͨͩ̍̀s̶̷͓̼̥͕͍̫̙ͥ̉̾̋̓͗͆͜͟͠t̵̛͍ͪͬ̊ͩ̒̑ͫ̅̔ͫ͗̑ͦ̽̎͐i̷̼̭̰̙̫͍̗̅͗ͣ̋͋̉ͦ̓͋̚͞n̸̢̮̫̼̟̮͚̗̺̺̜ͧͮ̀͑̌͗͛g̢̛͚̟̜̞ͥ̓ͤ͑̓̉̊͊̓̊́̀͞ when running on macos"
**Describe the bug**
When I run npx npkill, it outputs the word testing, but filled with zalgo like

ţ̯̬͙͙̹̙͎͛͐͂̀̅̀͠͡e̸ͫͦ̾̍ͥ̈ͨͮ̀̒̍̋͗̑̓͂̈ͦ ҉̖͕̙̳͍͔̫͓̮͕̙̻͙̗̻͠͠͞s͕͖͈͔̤̬̎̈͐̉ͫ̐ͦ̐ͧ͘͜͟͡t͛ͦͬͮͬ͑̉ͨ̉̀͛̽͗͐ͣ̆ͭ̃͐i̸̶͖͚͖̍̑ͬͤ̓̀̎̑͛̾̍ͩͨ͠ń̹̠̣͈̥͐͗ͫ̑̆ͥͤ̃ͨ́͜͡ͅg̵̲̀̒̋͐ͤ̅̀ͪ̒ͥ̓̃̉̃̀́̚ ̷̛͙̞͚̓ͥͦ̏̇ͫ̂ͭͤ̒ͩ̈̕͠tͨ̊̓͐̐͌͛ͤͭͭͪ̈̓̏̾ ҉̨͙̺̪̙̦̤̣͖́͞͠e͗̈̓̇̽̉̓̾ͨ͌͋̏ͦ̐ͫͨͩ̍̀s̶̷͓̼̥͕͍̫̙ͥ̉̾̋̓͗͆͜͟͠t̵̛͍ͪͬ̊ͩ̒̑ͫ̅̔ͫ͗̑ͦ̽̎͐i̷̼̭̰̙̫͍̗̅͗ͣ̋͋̉ͦ̓͋̚͞n̸̢̮̫ͧͮ̀͑̌͗͛

[2022-01-09 01:25] DumbGameMaker commented on #119
for some reason when i try using grep to exclude all the testing stuff I get this
![Screen Shot 2022-01-08 at 5 24 31 PM](https://user-images.githubusercontent.com/61807031/148665612-3dca14e3-8bbf-47c6-850f-2afa7cd90dc8.png)
is this like an easter egg or something? am I getting MITM'd?

[2022-01-09 01:36] DumbGameMaker commented on #119
I'm literally digging through all the npkill code on my machine and nothing has anything related to this issue

[2022-01-09 01:52] DumbGameMaker commented on #119
seems like the problem is somewhere in lib/controller.js

[2022-01-09 01:56] DumbGameMaker commented on #119
found it. looks like the colors module does this as an artifact of debug.
![Screen Shot 2022-01-08 at 5 56 09 PM](https://user-images.githubusercontent.com/61807031/148666207-f7ffe844-e50d-42a0-9a09-571fe6a4a273.png)

[2022-01-09 01:59] DumbGameMaker commented on #119
https://github.com/Marak/colors.js/commit/074a0f8ed0c31c35d13d28632bd8a049ff136fb6#diff-92bbac9a308cd5fcf9db165841f2d90ce981baddcb2b1e26cfff170929af3bd1R18

[2022-01-09 01:59] #119 closed

[2022-01-09 02:04] DumbGameMaker commented on #119
it's because marak isn't getting paid so he vandalized his very popular package. fix by changing colors dependency from latest to 1.4.0

[2022-01-09 12:01] zaldih commented on #119
Thank you very much for pointing out this issue and for your research.
We have launched a new version fixing the problem.

[2022-01-14 15:35] shennan commented on #9
Perhaps a list of everything that would be deleted as a result of this flag as a sanity check, then requiring a simple "Y" input to confirm such deletions? It's pretty annoying having to cycle through everything with space bar. And then if one takes longer, you need to cycle back up to check it's been deleted before quitting the runtime.

[2022-03-18 05:24] ljharb opened #120 "`--sort=size` doesn't work"
Double-dashed/long options should *always* use `=`, altho it's fine if they don't require it. It seems like npkill only works without an `=` on long options. Can this either be fixed so it works with this standard usage, or, error eagerly so i don't have to wait for all the results before finding out it's not sorted?

[2022-03-22 19:56] ScriptedAlchemy opened #121 "Performance Improvement"
**Is your feature request related to a problem? Please describe.**
Deleting monorepo packages is pretty slow - it would be nice if there was a divide and concur flag that I could set.

**Describe the solution you'd like**
When hitting *space* and start deleting a directory, parse the files,folders and group them into smaller array sets like 50 packages per array, then pass this to a worker or some

[2022-04-22 15:27] bennetfabian opened #123 ".gitignore equivalent for ignored directories"
**Is your feature request related to a problem? Please describe.**
Not necessarily related to a problem.

**Describe the solution you'd like**
I think there should be the equivalent of .gitignore file in Git but for npkill.
There you should be able to specify directories that should never be scanned for node_modules folders.

**Describe alternatives you've considered**

**Additional context**
What

[2022-08-10 10:46] fzn0x opened #125 "Instead of doing both npx and npm global install, we can do..."
**Is your feature request related to a problem? Please describe.**
`npx npkill` everytime is bad when you have no internet connection and adding extra bandwidth

**Describe the solution you'd like**
Yup, we can instead provide the `npkill` after `npm i -g npkill` instead of using `npx npkill` to start.

**Describe alternatives you've considered**
None so far, general solution should be adding the

[2022-08-10 10:56] fzn0x commented on #125
![Screenshot 2022-08-10 175525](https://user-images.githubusercontent.com/50759463/183884682-d54b5616-2561-4e7c-acc3-e12607e14e90.jpg)

You can solve this issue by adding this output to your environment variables.

[2022-08-10 10:56] #125 closed

[2022-09-02 02:29] richex-cn commented on #100
+1
Can also be support half page scroll using `Ctrl+D` and `Ctrl+U` like Vim or `d` `u`  like `less`.

[2022-09-27 18:26] Angelk90 opened #126 "[Feature request]: Copy path"
**Is your feature request related to a problem? Please describe.**
It would be nice that when I am in a specific path, I could copy the path.

**Describe the solution you'd like**
I am on a path, via a combination of keys, for example pressing the `c` key allows me to copy the patch.

[2022-09-27 18:28] Angelk90 opened #127 "[Feature request]: Open the folder"
**Is your feature request related to a problem? Please describe.**
It would be nice that when I am in a specific path, I could open the folder.

**Describe the solution you'd like**
I am on a path, via a combination of keys, for example pressing the `o` key allows me to open the folder.

[2022-09-30 17:58] zaldih commented on #57
I am not familiar with MacOs alert system and the type of actions that trigger it.
**However, you can rest assured. Npkill is not intended to do anything malicious to your computer.**

PS: In the past we discovered a problem where in some very rare situations paths were trimmed from the result. I THINK that maybe because of the above, it proceeded to read the size of a parent directory. If this th

[2022-09-30 18:00] #57 closed

[2022-09-30 18:03] zaldih commented on #53
Thank you for the issue and sorry for taking so long to reply.
Finally this will be solved very soon together with #100

[2022-10-09 01:14] EarthlingJim commented on #79
Same issue with Windows 10 Home using `npx npkill` [v0.8.3](https://github.com/voidcosmos/npkill/releases/tag/v0.8.3).

This seems to occur when we have **_deeply nested folders_**. For example, 5 folders deep, like:
`C:\Work\Code\WebDev\ClientX\ProjectY`

For my case, `npkill` does not even detect folders that are 4 layers deep (e.g. those "ClientX" folders), when I run `npkill` from the root dir

[2022-10-09 13:25] #53 closed

[2022-10-09 13:26] #100 closed

[2022-10-09 13:48] zaldih commented on #47
Closing due to the fact that node11 will no longer be compatible soon

[2022-10-09 13:48] #47 closed

[2022-10-09 14:01] zaldih commented on #59
Thank you very much for opening the issue and sorry for the delay.

I can't replicate the problem. In any case, the deletion method underwent a big change and should not be a problem today.

If it continues to be a problem, do not hesitate to reopen

[2022-10-09 14:01] #59 closed

[2022-10-09 14:09] #24 closed

[2022-10-10 17:41] zaldih commented on #34
In this time the related methods have undergone many changes, so it should not be a problem today.
If it continues to be a problem, do not hesitate to reopen.

[2022-10-10 17:44] zaldih commented on #64
I'm working on the feature of add _"last working date of the project"_ atribute to results so when it is ready, this issue will be able to continue going forward

[2022-10-10 17:46] zaldih commented on #52
In this time the related methods have undergone many changes, so it should not be a problem today.
If it continues to be a problem, do not hesitate to reopen and add more details.

Thank!

[2022-10-10 17:46] #52 closed

[2022-10-10 18:36] zaldih commented on #66
Hey!
I'm happy to announce that this issue is now complete 🎉

Completing #100 ,  I just commit e93ded65a9cd038fca163849600671cff3fb243b to implement pgUp, pgDown, HOME and END.

[2022-10-10 18:37] #66 closed

[2022-10-10 18:47] zaldih commented on #76
I have only recently started working on it!
However I think the correct approach is somewhat more complex: look for when the most recent file was edited in the workspace (and not just the node_module).

That's why the filtering will be done on node instead of directly on the find command

https://github.com/voidcosmos/npkill/issues/64#issuecomment-1273637895

[2022-10-10 20:14] zaldih commented on #79
Hey guys!
Thank you very much for opening the issue and for all the information provided.

I was never able to work on this because I never managed to replicate the problem UNTIL a while ago I realized that with `npm run start -- -d ~` for some reason it did NOT crash. So I tried create a deeeeply nested folders  as @EarthlingJim suggest and run `npm run build; npm link; npkill (from home)` _(for

[2022-10-10 20:27] zaldih commented on #79
### Omggg it can't be ._.
##### We forgot to delete that particular eventlistener (1 line).
The solution to this problem should be in this commit I just made: 802b2fa7029990b11a4dba231202b6b3df95d206

I have to do more extensive testing but I think this problem is solved.

[2022-10-11 12:37] zaldih commented on #120
Thanks for opening the issue!

You are right. It should be an option to define the parameters with = although this is not mandatory according to e.g. https://nullprogram.com/blog/2020/08/01/ .

So in the next version it will be possible to use both the classic way and the new one with `=`  😃

[2022-10-11 13:42] zaldih commented on #105
It is a very great idea!

I'm going to leave it pinned for a few days in case someone wants to work on it.

Currently all results have a property called 'isDangerous'. It is actually true if the particular result is located in some hidden directory.

The task would be to check if this flag is activated, skip showing it (or directly not add it to the results list)

[2022-10-11 16:24] ljharb commented on #120
I agree it's not mandatory, but it's a pretty overwhelming convention to include the = :-)

[2022-10-15 04:08] NeoLight1010 commented on #105
Hello! I would like to work on this issue :D Please tell me if there are any special considerations for implementing this feature :smile:

[2022-10-15 10:04] zaldih commented on #105
@NeoLight1010  Of course! All yours!

For now I can't think of any special considerations.
The easiest and best I think will be to directly filter these directories to ignore them and not add them to the list of results.
I suggest to implement the logic in the controller, in the main pipeline (about line 530).

If you have any doubt, do not hesitate to comment it

[2022-10-15 10:09] zaldih commented on #105
What could be the short form of the flag?
For example for sort: `-s`, `--sort`
For `--exclude-hidden-directories` ?

cc @muescha @NeoLight1010

[2022-10-15 12:30] muescha commented on #105
@Gulianrdgd found a good one: `-x`

[2022-10-18 12:07] zaldih commented on #105
This change will be included in the upcoming 0.9.0 🎉
Thanks for participating @muescha , @NeoLight1010 and @Gulianrdgd

[2022-10-18 12:07] #105 closed

[2022-10-18 12:15] NeoLight1010 commented on #105
No problem, and thank you for this amazing project! :D

[2022-10-21 16:51] #120 closed

[2022-10-21 16:52] zaldih commented on #79
Should be solved in v0.9.0 🎉

[2022-10-21 16:52] #79 closed

[2022-10-21 17:00] ljharb commented on #120
Thanks!

[2022-10-28 04:04] EarthlingJim commented on #79
I can verify that it works perfectly fine now.

As you wrote, even deeeeply nested folders give no problems now. 🤣

Thanks for fixing it, @zaldih ! 👏

[2022-10-28 09:12] zaldih commented on #117
Thank you for your comment!
I must admit that I have been thinking about this issue for several days.

There is the `--target` parameter in which you can specify a different target than node_modules but it certainly won't work since for efficiency it only searches between directories... wait, Efficiency?

I have done some tests and at least in unix there is hardly any difference between filtering

[2022-10-28 13:41] zaldih commented on #117
### Done at 6f8c1caf6a7662d1b4e16bc9fb17b9faa2feb126

In the next release it will also be possible to specify **files** as **target** as requested.

[2022-10-28 13:41] #117 closed

[2022-10-28 14:02] zaldih opened #135 "Better way to distribute the binary? (windows-find.exe)"
Currently npkill on unix uses the find command, but since windows does not natively have something similar we created our [own implementation in GO](https://github.com/voidcosmos/npkill/blob/6f8c1caf6a7662d1b4e16bc9fb17b9faa2feb126/src/libs/file-service.go).
When the script is modified (very rarely) the executable (.exe) is rebuilt and saved in [/src/bin/windows-find.exe](https://github.com/voidco

[2022-10-28 14:12] zaldih commented on #135
One option I have contemplated is to host the versions of bin in the **gh-pages** branch to download it when required and reduce the weight of the package. But I think this may be more suspicious to antivirus (no less secure because the hashes would be checked).

[2022-11-01 16:58] zaldih commented on #22
It's been a while since this was opened but it's finally time for this one to touch on this topic.

The other day I was solving another issue related to windows "find" (#117) until I thought:
**-Wait, how efficient is `find` respect to our [GO implementation](https://github.com/voidcosmos/npkill/tree/develop/src/bin)?-**
So after several benchmarks this is the result _(file cache cleaned every run

[2022-11-01 21:53] zaldih commented on #64
Hey!
What do you think should be named the parameter to filter by 'date/old'?

`--sort date`
`--sort old`

[2022-11-02 23:49] zaldih commented on #135
Okay, we are considering the possibility to avoid this problem by implementing an optimized function directly in node

[2022-11-07 19:48] #64 closed

[2022-11-07 19:48] #76 closed

[2022-11-13 12:43] zaldih commented on #135
I have been able to discuss this issue with another group of people and we have come to the conclusion that we really don't need the binary or even use the low level 'find' command to achieve a great performance.

@trgwii and I have been testing and I have decided that the search of node_modules functionality will be migrated to use a pure node implementation.

Working on that in #136

[2022-11-13 12:43] #135 closed

[2022-11-28 23:21] belene opened #137 "Use of mutation testing in npkill - Help needed"
Hello there!

My name is Ana. I noted that you use the mutation testing tool  in the project.
I am a postdoctoral researcher at the University of Seville (Spain), and my colleagues and I are studying how mutation testing tools are used in practice. With this aim in mind, we have analysed over 3,500 public GitHub repositories using mutation testing tools, including yours! This work has recently bee